body {
    background-color: #ffffff;

    .t-yellow {
        color: #FFF700 !important;
    }

    .full-height {
        height: 100vh !important;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        .page-num {
            border: 1px solid #407dff;
            &.current {
                background-color: #4680ff;
                color: #ffffff;
            }
        }
    }

    .landing {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
        .title-text {
            font-size: 72px;
            z-index: 5;
        }
        .slogan-text {
            font-size: 50px;
            font-weight: 100;
            z-index: 5;
        }
        .button-explore {
            font-size: 32px;
            font-weight: 600;
            padding: 20px 120px !important;
        }
        .car-logo {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            left: 0;
            margin-top: -70px;
            z-index: -1;
            img {
                height: 120px;
                z-index: -1;
            }
        }
        .car-vectors {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100px;
            margin-top: 200px;
            z-index: -1;
            .car1, .car2 {
                margin-left: 50px;
                margin-right: 50px;
                img {
                    width: 600px;

                }
            }
            .car1 {
                flex: auto;
                img {
                    float: left;
                }
            }   
        }

        @media screen and (max-width: 1550px){
            .car-vectors {
                .car1, .car2 {
                    img {
                        width: 35vw;
                    }
                }
            }
        }

        @media screen and (max-width: 615px){
            .title-text {
                font-size: 64px;
            }
            .slogan-text {
                font-size: 42px;
            }
            .button-explore {
                font-size: 26px;
                padding: 15px 90px !important;
            }
            .car-vectors {
                display: none;
            }
        }


    }

    @keyframes filter {
        0% {
            height: 0;
        }
        100% {
            height: 150px;
        }
    }

    @keyframes hidden {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .filters {
        width: 100%;
        height: 150px;
        background-color: #353535;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        animation: filter 100ms;
        animation-timing-function: slidein;
        margin-bottom: 45px;

        &.hidden {
            display: none !important;
        }
    
        .filter-row{
            flex: 1;
            margin: 25px;
            min-width: 115px;

            animation: hidden 50ms;

            > select, div select  {
                width: 100%;
                min-width: 45px;
            }

            > div input {
                width: calc(45% - 20px);
                min-width: 45px;
            }

            > label, div label {
                color: #ffffff;
                font-weight: 500;
                font-size: 16px;
            }

            > span, div span {
                color: #ffffff;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 16px;
                font-weight: 500;
            }

            > .range input, .range select {
                width: calc(45% - 20px);
                min-width: 45px;
            }

            > input {
                width: calc(45% - 20px);
                min-width: 45px;
            }

            > input, select, div input, div select {
                border-radius: .7em;
                border: 2px solid #d1d1d1;

                &:hover {
                    border-color: #aaaaaa;
                }
            }

            @media screen and (max-width: 1165px) {
                > label, div label {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 12px;
                }
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance:textfield;
                text-align: center;
            }

            select:focus {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        
        .hide-btn {
            position: absolute;
            margin-top: 150px;
            margin-left: 25px;
            height: 22px;
            width: 40px;
            background-color: #008cff;
            color: #ffffff;

            &:hover {
                background-color: #50b0ff;
            }

            &::after {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 10px;
                height: 10px;
                border-top: 2px solid;
                border-right: 2px solid;
                transform: rotate(-45deg);
                left: 4px;
                bottom: 2px;
                margin-left: calc(50% - 8px);
            }
        }
        @media screen and (max-width: 1165px) {
            overflow: auto;
        }
    }

    .sort {
        float: right;
        margin: 16px;
    }

    .explore {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 25px;
        row-gap: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        .vehicle-card {
            width: 300px;
            height: 300px;
            margin: auto;
            border: 1px solid #797979;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            .vehicle-card-image {
                flex: 1;
                width: 100%;
                height: 250px;
                border-bottom: 1px solid #797979;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background-color: #dbdbdb;
            }
            .vehicle-card-info {
                flex-direction: column;
                overflow: hidden;
                .upper-info {
                    flex: 1;
                    display: flex;
                    font-size: 14px;
                    flex-direction: row;
                    align-items: center;
                    span {
                        margin-left: 2px;
                        margin-right: 2px;
                    }
                    .title {
                        max-height: 20px;
                        max-width: 223px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        span {
                            &::after {
                            visibility: hidden;
                            content: attr(data);
                            display: block;
                            position: absolute;
                            margin-left: 5px;
                            margin-top: 5px;
                            padding-left: 2px;
                            padding-right: 2px;
                            background-color: #353535;
                            color: #ffffff;
                            border-radius: 2px;
                            opacity: .9;
                        }
                    }
                    }
                    .--full {
                        flex: auto;
                    }
                    .price {
                        font-size: 20px;
                        font-weight: 600;
                        color: #353535;
                    }
                }
                .hidden-info {
                    flex: 1;
                    display: none;
                    .middle-info {
                        flex: 1;
                        font-size: 16px;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 3px;
                        margin-bottom: 3px;
                        display: flex;
                        justify-content: space-evenly;
                        span {
                            order: 3;
                        }
                    }
                    .lower-info {
                        flex: 1;
                        flex-direction: row;
                        display: block;
                    }
                }   
            }
        }
        .vehicle-card:hover {
            @keyframes height {
                0% {
                    transform: translate(0, 3em)
                }
                100% {
                    transform: translate(0);
                }
            }
            .hidden-info {
                animation: height 100ms;
                animation-timing-function: linear;
                display: block;
            }
            .title span:hover {
                &::after {
                    transition-delay: 300ms;
                    visibility: visible;
                }
            }
        }

        @media screen and (max-width: 840px) {
            margin-left: 0;
            .vehicle-card {
                margin: auto;
            }
        }
    }

    .add-page {
        margin-top: 25px;
    }

    .info-page {
        margin-top: 25px;
        .car-image {
            width: 100%;
            height: 400px;
            border-top-left-radius: .7em;
            border-top-right-radius: .7em;
            background-color: #797979;
        }
        .upper-info {
            align-items: center;
            .--full {
                flex: auto;
            }
        }
        .lower-info {
            div {
                margin-top: 2px;
                margin-bottom: 2px;
            }
        }
        .back-btn {
            position: relative;
            margin-bottom: 25px;
        }

        @media screen and (max-width: 840px) {
            margin-top: 25px;

            .back-btn {
                width: 100%
            }

            .car-image{
                border-radius: 0;
            }
        }
    }
}