body {
    background-color: #ffffff;

    .contact-form {
        border: 1px solid #353535;
        margin: 30px 0;
        .contact-title {
            margin: 5px;
        }
        .inputs {
            .id {
                margin: 20px;
            }
            .address-info {
                justify-content: space-around;
                div {
                    margin: 10px 0;
                    input {
                        width: 180px;
                        height: 30px;
                    }
                }
            }
            .name, .contact-info, .country-info {
                justify-content: space-around;
                div {
                    margin: 10px 0;
                    input, select {
                        width: 300px;
                        height: 30px;
                    }
                }
                
                @media screen and (max-width: 840px){
                    display: block !important;
                    div {
                        margin: 10px 0 !important;
                        width: 100%;
                        display: block !important;
                        input, select {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .remove-alert {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        overflow: auto;
        background-color: #00000057;

        .alert {
            margin: auto;
            margin-top: 250px;
            width: 350px;
            height: 150px;
            background-color: #ffffff;
            border-radius: .5em;
            border: 1px solid #353535;
            text-align: center;

            .text {
                display: block;
                margin: 0 auto;
                max-width: 300px;
                margin-top: 25px;
                font-size: 16px;
                font-weight: 500;
                height: 60px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .buttons {
                margin-top: 10px;
                margin-bottom: 10px;
                button {
                    margin: 0 10px;
                }
            }
        }
    }

    .back-btn {
        margin: 16px
    }

    .t-yellow {
        color: #FFF700 !important;
    }

    .full-height {
        height: 100vh !important;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        .page-num {
            border: 1px solid #407dff;
            &.current {
                background-color: #4680ff;
                color: #ffffff;
            }
        }
    }

    .landing {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
        .title-text {
            font-size: 72px;
            z-index: 5;
        }
        .slogan-text {
            font-size: 50px;
            font-weight: 100;
            z-index: 5;
        }
        .button-explore {
            font-size: 32px;
            font-weight: 600;
            padding: 20px 120px !important;
        }
        .car-logo {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            left: 0;
            margin-top: -70px;
            z-index: -1;
            img {
                height: 120px;
                z-index: -1;
            }
        }
        .car-vectors {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100px;
            margin-top: 200px;
            z-index: -1;
            .car1, .car2 {
                margin-left: 50px;
                margin-right: 50px;
                img {
                    width: 600px;

                }
            }
            .car1 {
                flex: auto;
                img {
                    float: left;
                }
            }   
        }

        @media screen and (max-width: 1550px){
            .car-vectors {
                .car1, .car2 {
                    img {
                        width: 35vw;
                    }
                }
            }
        }

        @media screen and (max-width: 615px){
            .title-text {
                font-size: 64px;
            }
            .slogan-text {
                font-size: 42px;
            }
            .button-explore {
                font-size: 26px;
                padding: 15px 90px !important;
            }
            .car-vectors {
                display: none;
            }
        }


    }

    @keyframes filter {
        0% {
            height: 0;
        }
        100% {
            height: 150px;
        }
    }

    @keyframes hidden {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .filters {
        width: 100%;
        height: 150px;
        background-color: #353535;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        animation: filter 100ms;
        animation-timing-function: slidein;
        margin-bottom: 45px;

        &.hidden {
            display: none !important;
        }
    
        .filter-row{
            flex: 1;
            margin: 25px;
            min-width: 115px;

            animation: hidden 50ms;

            > select, div select  {
                width: 100%;
                min-width: 45px;
            }

            > div input {
                width: calc(45% - 20px);
                min-width: 45px;
            }

            > label, div label {
                color: #ffffff;
                font-weight: 500;
                font-size: 16px;
            }

            > span, div span {
                color: #ffffff;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 16px;
                font-weight: 500;
            }

            > .range input, .range select {
                width: calc(45% - 20px);
                min-width: 45px;
            }

            > input {
                width: calc(45% - 20px);
                min-width: 45px;
            }

            > input, select, div input, div select {
                border-radius: .2em;
                border: 1px solid transparent;

                &:hover {
                    border-color: #aaaaaa;
                }
            }

            @media screen and (max-width: 1165px) {
                > label, div label {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 12px;
                }
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance:textfield;
                text-align: center;
            }

            select:focus {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        
        .hide-btn {
            position: absolute;
            margin-top: 150px;
            margin-left: 25px;
            height: 22px;
            width: 40px;
            background-color: #008cff;
            color: #ffffff;

            &:hover {
                background-color: #50b0ff;
            }

            &::after {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 10px;
                height: 10px;
                border-top: 2px solid;
                border-right: 2px solid;
                transform: rotate(-45deg);
                left: 4px;
                bottom: 2px;
                margin-left: calc(50% - 8px);
            }
        }
        @media screen and (max-width: 1165px) {
            overflow: auto;
        }
    }

    .sort {
        right: 0;
        position: absolute;
        margin: 20px;
    }

    .explore {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 25px;
        row-gap: 25px;
        margin-top: 15px;
        margin-bottom: 50px;
        .vehicle-card {
            width: 300px;
            height: 300px;
            margin: auto;
            border: 1px solid #797979;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            .vehicle-card-image {
                flex: 1;
                width: 100%;
                height: 250px;
                border-bottom: 1px solid #797979;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background-color: #dbdbdb;
                overflow: hidden;
                position: relative;
                img {
                    position: absolute;
                    margin: auto;
                    left: 50%;
                    margin-left: calc(-50% - 4em);
                    height: 268px;
                    opacity: .8;
                }
            }
            .vehicle-card-info {
                flex-direction: column;
                overflow: hidden;
                .upper-info {
                    flex: 1;
                    display: flex;
                    font-size: 14px;
                    flex-direction: row;
                    align-items: center;
                    span {
                        margin-left: 2px;
                        margin-right: 2px;
                    }
                    .title {
                        max-height: 20px;
                        max-width: 223px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        span {
                            &::after {
                                visibility: hidden;
                                content: attr(data);
                                display: block;
                                position: absolute;
                                margin-left: 5px;
                                margin-top: 5px;
                                padding-left: 2px;
                                padding-right: 2px;
                                background-color: #353535;
                                color: #ffffff;
                                border-radius: 2px;
                                opacity: .9;
                            }
                        }
                    }
                    .--full {
                        flex: auto;
                    }
                    .price {
                        font-size: 20px;
                        font-weight: 600;
                        color: #353535;
                    }
                }
                .hidden-info {
                    flex: 1;
                    display: none;
                    .middle-info {
                        flex: 1;
                        font-size: 16px;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 3px;
                        margin-bottom: 3px;
                        display: flex;
                        justify-content: space-evenly;
                        span {
                            order: 3;
                        }
                    }
                    .lower-info {
                        flex: 1;
                        flex-direction: row;
                        display: block;
                    }
                }   
            }
        }
        .vehicle-card:hover {
            .vehicle-card-image {
                img {
                    opacity: 1;
                }
            }
            @keyframes height {
                0% {
                    transform: translate(0, 3em)
                }
                100% {
                    transform: translate(0);
                }
            }
            .hidden-info {
                animation: height 100ms;
                animation-timing-function: linear;
                display: block;
            }
            .title span:hover {
                &::after {
                    transition-delay: 300ms;
                    visibility: visible;
                }
            }
        }

    }

    
    @media screen and (max-width: 840px) {
        .explore {
            margin-left: 0;
            
            .vehicle-card {
                margin: auto;
            }
        }

        .sort {
            position: relative;
            text-align: center;
        }

        .info-page {
            .btn {
                float: left !important;
                margin: auto;
                border-radius: 0;
            }
        }

    }

    .add-page {
        margin-top: 25px;
    }

    .edit-btn {
        height: 25px;
        padding: 0;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
    }

    .make-info {
        display: block;
        width: 100%;
        height: 40px;
        background-color: #4680ff;
        margin-top: 5px;
        margin-left: 0 !important;
        padding: 0;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        line-height: 2;
        position: relative;

        input {
            height: 80%;
            text-align: center;
            background-color: #f8faff;
            border: 1px solid #4680ff;
            border-radius: .2em;
        }

        .abs-right {
            position: absolute;
            height: 100%;
            width: 38px;
            right: 1px;
            top: 0;
            padding: 9px;
            z-index: 100;
            border-radius: 2em;
            color: #000000;

            &:hover  {
                background-color: #77a2ff;
            }

            .gg-pen {
                margin: 4px;
                
                &:hover {
                    background-color: transparent;
                }
            }
            
            .gg-arrow-down-r, .gg-close {
                margin-left: -2px;
                margin-top: -2px;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        .abs-left {
            position: absolute;
            height: 100%;
            width: 38px;
            left: 1px;
            top: 0;
            padding: 9px;
            z-index: 100;
            border-radius: 2em;
            color: #000000;

            &:hover  {
                background-color: #77a2ff;
            }

            .gg-pen {
                margin: 4px;
                
                &:hover {
                    background-color: transparent;
                }
            }
            
            .gg-arrow-down-r, .gg-close, .gg-remove-r {
                margin-left: -2px;
                margin-top: -2px;

                &:hover {
                    background-color: transparent;
                }
            }
        }

        div {
            &:hover {
                background-color: #6495ff;
            }
        }
    }

    .make-group {
        margin-bottom: 6px;
    }

    .info-page {
        margin-top: 25px;
        .car-image {
            width: 100%;
            border-top-left-radius: .7em;
            border-top-right-radius: .7em;
            background-color: #797979;
            overflow: hidden;

            img {
                width: 100%;
                position: relative;
            }
        }
        .upper-info {
            align-items: center;
            .--full {
                flex: auto;
            }
        }
        .lower-info {
            div {
                margin-top: 2px;
                margin-bottom: 2px;
            }
        }
        .back-btn {
            position: relative;
            margin-bottom: 25px;
        }

        @media screen and (max-width: 840px) {
            margin-top: 25px;

            .back-btn {
                width: 100%
            }

            .car-image{
                border-radius: 0;
            }
        }
    }
}